{% extends 'agendamento/base_admin.html' %}

{% load static %}
{% block title %}
Formulário de agendamento
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/agendar_style.css' %}" />
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
{% endblock %}
{% block content %}
<img src="{% static 'img/logo.png' %}" alt="Logo" />
<h1>Formulário de Agendamento</h1>
<div class="caixa_dados">
	<form id="formulario" method="post">
		{% csrf_token %}
		{% if form.non_field_errors %}
		<div class="error">
			{% for error in form.non_field_errors %}
			<p>{{ error }}</p>
			{% endfor %}
		</div>
		{% endif %}

		{% for field in form %}
		<div class="form-group">
			{% if field.name == 'data' %}
			<label for="datePicker">Data da Consulta</label>
			<input type="text" id="datePicker" autocomplete="off" placeholder="Selecione uma data" readonly />
			<button id="clear_date" type="button" class="btn btn-danger btn-sm justify-content-end btn-secondary mt-2">Limpar</button>
			{% else %}
			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
			{% endif %}
			{{ field }}
			{% if field.errors %}
			<div class="error">
				{% for error in field.errors %}
				<p>{{ error }}</p>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		{% endfor %}

		<div class="caixa_confirmacao">
			<input type="checkbox" id="confirmacao" class="form-check-input" />
			<label for="confirmacao" class="form-check-label">Confirmo que todas as informações estão corretas</label>
		</div>
		<input id="botao_cadastrar" type="submit" class="botao_cadastrar" value="Agendar" disabled />
	</form>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="confirmModalLabel">Confirmação</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">Você tem certeza que deseja prosseguir?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary" id="modalConfirmButton">Confirmar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="{% static 'js/datepicker-pt-br.js' %}"></script>
<script>
	const previousUrl = "{{ previous_url|safe }}";
	const horariosIndisponiveis = {{ horarios_indisponiveis|safe }};
	var isUserAuthenticated = {{ user.is_authenticated|lower }};
</script>
<script src="{% static 'js/custom_scripts.js' %}" defer></script>
{% endblock %}
