{% extends 'agendamento/base_admin.html' %}
{% load static %}
{% block title %}Editar Agendamentos {{ periodo }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard_style.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'css/editar_style.css' %}" />
{% endblock %}

{% block content %}
<h1 class="text-center mb-5">
	Editar Agendamentos {{ periodo }}</h1>

<div class="container p-3 bg-light table-responsive" style="max-width: 1500px;">
	<table id="tabela-dados" class="pt-3" style="width: 100%">
		<thead>
			<tr>
				<th>Nome do Tutor</th>
				<th>Tipo de Agendamento</th>
				<th>Data</th>
				<th>Horário</th>
				{% if periodo == 'Sem Data' %}
				<th>Criado em</th>
				{% endif %}
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
{% endblock %}
{% block extra_js %}
<script>
	const thisPage = '{{ periodo}}';
	const urlTranslation = "{% static 'json/data_tables_portuguese.json' %}";
	const urlAgendar = "{% url 'agendar' %}";
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="{% static 'js/editar_agendamento_scripts.js' %}" defer></script>
{% endblock %}
