{% extends 'agendamento/base.html' %}
{% load static %}
{% block title %}Admin Login{% endblock %}

{% block extra_css %}
<link href="{% static 'css/login_style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div id="layoutAuthentication">
	<div id="layoutAuthentication_content">
		<main>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-5">
						<div class="card shadow-lg border-0 rounded-lg mt-5">
							<div class="card-header">
								<h3 class="text-center font-weight-light my-4">Login de administrador</h3>
							</div>
							<div class="card-body">
								<form method="post">
									{% csrf_token %}
									<div class="form-floating mb-3">
										<input class="form-control" id="inputEmail" type="text" name="username" placeholder="Username" required />
										<label for="inputEmail">Usuário</label>
									</div>
									<div class="form-floating mb-3">
										<input
											class="form-control"
											id="inputPassword"
											type="password"
											name="password"
											placeholder="Password"
											required />
										<label for="inputPassword">Senha</label>
									</div>
									<div class="form-check mb-3">
										<input class="form-check-input" id="inputRememberPassword" type="checkbox" name="remember" />
										<label class="form-check-label" for="inputRememberPassword">Lembrar Senha</label>
									</div>
									<div class="d-flex align-items-center justify-content-end mt-4 mb-0">
										<button id="botaoLogin" class="btn btn-primary" type="submit">Login</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>
{% endblock %}
